{% extends 'base.html'%}{% block content%}

<h1>Tool List</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ tool.name }}</span>
        <p>Description: {{ tool.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'tools_update' tool.id %}">Edit</a>
        <a href="{% url 'tools_delete' tool.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
<form action="{% url 'add_maintenance' tool.id %}" method="POST">
    {% csrf_token %} {{ maintenance_form.as_p }}
    <input type="submit" class="btn" value="Add Maintenance" />
  </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Maintenance</th>
        </tr>
      </thead>
      <tbody>
        {% for maintenance in tool.maintenance_set.all %}
        <tr>
          <td>{{maintenance.date}}</td>
          <td>{{maintenance.get_maintenance_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ tool.name }}'s Storage Places</h3>
    {% if tool.storages.count %} {% for storage in tool.storages.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A {{ storage.name }}
        </span>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Storage Places :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Storage Places</h3>
    {% if storages.count %} {% for storage in storages.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A {{ storage.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_storage' tool.id storage.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{tool.name}} Already Has All Storage Places Available</h5>
    {% endif %}
  </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  var selectEl = document.getElementById('id_maintenance');
  M.FormSelect.init(selectEl);

</script>

{% endblock %}